#admin_profile_index table th,
#admin_profile_list table th {
  font-size: 12px;
  text-align: center;
}
#admin_profile_index table th i,
#admin_profile_list table th i {
  font-size: 14px;
}
#admin_profile_index table td,
#admin_profile_list table td {
  text-align: center;
}
